extends layout

block content
  h1= title
  p Welcome to PhotonAccess
  if isAuthenticated
        p #{user.email}
        div 
                a(href='/photon/devices') Photon
        div 
                a(href='/photon/particleinfo') Settings
  else
    unautherized
     a(href='/login') Login here
