extends layout

block content
  h1= title
  p Welcome to #{title}
 
  if isAuthenticated
   p #{user.email}
     a(href='/logout') logout 
   a(href='/photon/devices') Photon
  else
    unautherized
     a(href='/login') Login here
